<!DOCTYPE html>
<html>
  <head>
    <title>Build-a-blog</title>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.css">
  </head>
  <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/static/bootstrap.js"></script>

    <div class = "container">
      <nav>

            <li><a href="/blog">Home</a></li>
            <!-- <li><a href="/blog/allposts">All Posts</a></li> -->
            <li><a href="/blog/newpost">New Post</a></li>
            <!-- <li><a href="/blog/login">Login</a></li> -->

      </nav>
        {% block content %}
      <h1>{{heading}}</h1>


      {% for post in posts %}
      <h2>
        <div class="txt-title">

          <a href="blog/{{post.key().id()}}">{{post.title}}</a>
        </div>
      </h2>

      {% endfor %}
      {% endblock%}
    </div>

  </body>
</html>
